.custom-navbar {
    font-size: 1.2rem;
}

.custom-navbar .nav-item {
    margin: 0 100px;
}

.custom-navbar {
    background-color: #09223b !important; /* Change to any color */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: rgb(255, 136, 0) !important; /* Change text color */
}

.custom-navbar .nav-link:hover {
    color: #FFD700 !important; /* Change hover color */
}

.custom-navbar .dropdown-menu {
    background-color: #09223b; /* Change dropdown background */
}

.custom-navbar .dropdown-item {
    color: white; /* Dropdown text color */
}

.custom-navbar .dropdown-item:hover {
    background-color: rgb(255, 136, 0); /* Hover color */
}
body {
    padding-top: 50px; /* Adjust according to the navbar height */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: rgb(180, 213, 239);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(215, 95, 20);
    position: relative;
}

.form-content h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(24, 162, 201);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field {
    background-color: rgb(250, 145, 32);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: rgb(7, 1, 1);
}

input::placeholder{
    color:azure;
}

.input-field i {
    margin-left: 15px;
    color: rgb(251, 248, 253);
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex: basis 30%;
    font-size: 16px;
    background-color: blanchedalmond;
    color: rgb(255, 85, 0);
    height: 40px;
    border-radius: 10px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    transition: background 1s;
    position: relative;
}

.input-group {
    height: 250px;
}

.btn-field button.disable {
    background: white;
    color: black;
}

.gracias {
    text-align: center;
    font-size: 20px;
    color: rgb(9, 0, 128);
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8; /* Opcional: Cambia el color de fondo */
}

footer p {
    margin: 10px 0; /* Ajusta el margen según sea necesario */
}

#tituloproducto {
    color: orange;
    font-size: 50px;
}

#formulariocompra{
    color: orange;
    
}

#titulodeporte {
    color:blue;
}

#cadaproducto {
    color:#FABD00;
    font-size: 20px;
}

#detalles {
    color: brown;
    font-size: 40 px
}

#textofor {
    color: brown;
}

#gracias {
    color:orange;
}