#tituloproducto {
    color: orange;
    font-size: 50px;
  }

#formulariocompra{
    color: orange;
    
}

#titulodeporte {
    color:blue;
}

#cadaproducto {
    color:#FABD00;
    font-size: 20px;
}

#detalles {
    color: brown;
    font-size: 40 px
}

#textofor {
    color: brown;
}

#gracias {
    color:orange;
}